<!-- registration.component.html -->
<div class="container" is="BRUH"  >
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
        <div class="card-img-left d-none d-md-flex">
          <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Login</h5>
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">


            <!-- Phone Number Field -->
            <div class="form-floating mb-3">
              <input type="tel" class="form-control" id="floatingInputnum" placeholder="Your Phone Number" required autofocus formControlName="num">
              <label for="floatingInputnum">Phone Number</label>
            </div>

            <!-- Password Field -->
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required autofocus formControlName="password">
              <label for="floatingPassword">Password</label>
            </div>


            <!-- Add code to extract user location if needed -->

            <hr>

            <div class="d-grid mb-2">
              <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Register</button>
            </div>

            <a class="d-block text-center mt-2 small" routerLink="/create" >If you dont't have an account , go to SingUP</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
