.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.signin-card {
  max-width: 400px;
  margin: 0 auto;
}

.signin-form-field {
  width: 100%;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.signin-form-field:focus-within {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.mat-select {
  width: 100%;
}

.mat-raised-button {
  background-color: #0091ea;
  color: white;
  border-radius: 0.5rem;
}

#BRUH {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #0c00ff, #00ffd3);

}
@keyframes circle-in-hesitate {
  0% {
    clip-path: circle(0%);
  }

  40% {
    clip-path: circle(40%);
  }

  100% {
    clip-path: circle(125%);
  }
}

  [transition-style="in:circle:hesitate"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
  }
