/* button-container.component.scss */

.circle {
  width: 100px;
  height: 100px;
  background-color: #0eff6a;
  border-radius: 50%;
  margin: 10px;
}

.button-container {


    flex-direction: column;


}
