<div class="container">
  <div class="row">
    <div class="col">
      <div class="button-container">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
git add .\frontend\.angular
git add .\frontend\__pycache__
git add .\frontend\migrations
git add .\frontend\static
git add .\frontend\templates
git add .\frontend\.editorconfig
git add .\frontend\.gitignore
git add .\frontend\__init__.py
git add .\frontend\admin.py
git add .\frontend\angular.json
git add .\frontend\apps.py
git add .\frontend\models.py
git add .\frontend\ngsw-config.json
git add .\frontend\package.json
git add .\frontend\package-lock.json
git add .\frontend\README.md
git add .\frontend\tests.py
git add .\frontend\tsconfig.app.json
git add .\frontend\tsconfig.json
git add .\frontend\tsconfig.spec.json urls.py views.py
